.footer {
  width: 100%;
  margin: 0 auto;
  padding-top: 67px;
  margin-bottom: 60px;
  max-width: 880px;
  box-sizing: border-box;
}

.footer__name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 740px) {
  .footer {
    margin: auto;
    padding: 45px 19px 36px;
  }
  .footer__name {
    width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}
