.header {
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  padding-bottom: 41px;
  padding-top: 45px;
  max-width: 880px;
}

@media screen and (max-width: 750px) {
  .header {
    padding: 28px 27px 32px;
    width: 126px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-bottom: 32px;
  }
}
